## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
list(application_df['APPLICATION_TYPE'].value_counts().index)[8:]

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df['APPLICATION_TYPE'].value_counts().index)[8:]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = application_df['CLASSIFICATION'].value_counts().loc[lambda x: x > 1]

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df['CLASSIFICATION'].value_counts().index)[5:]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [ ]:
# Split our preprocessed data into our features and target arrays
y = dummies_df[['IS_SUCCESSFUL']]
X = dummies_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
dense1 = tf.keras.layers.Dense(input_dim = X_train_scaled.shape[1], units=80, activation = 'relu')
nn.add(dense1)
# Second hidden layer
dense2 = tf.keras.layers.Dense(units=30, activation = 'relu')
nn.add(dense2)

# Output layer
dense3 = tf.keras.layers.Dense(units=1, activation = 'sigmoid')
nn.add(dense3)
# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                3520

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss='MSE', optimizer = 'adam', metrics=['accuracy', 'MAE'])

In [ ]:
# Train the model
nn_fit = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.1944 - accuracy: 0.7168 - MAE: 0.3869
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1884 - accuracy: 0.7270 - MAE: 0.3741
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1872 - accuracy: 0.7278 - MAE: 0.3724
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1865 - accuracy: 0.7288 - MAE: 0.3712
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1862 - accuracy: 0.7289 - MAE: 0.3710
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1859 - accuracy: 0.7282 - MAE: 0.3703
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1855 - accuracy: 0.7299 - MAE: 0.3691
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1851 - accuracy: 0.7309 - MAE: 0.3694
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1847 - accuracy: 0.7315 - MAE: 0.3681
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1844 - accuracy: 0.7313 - MAE: 0.3678
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1840 - accuracy: 0.7329 - MAE: 0.3673
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1842 - accuracy: 0.7327 - MAE: 0.3676
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1841 - accuracy: 0.7327 - MAE: 0.3675
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1839 - accuracy: 0.7332 - MAE: 0.3669
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1837 - accuracy: 0.7329 - MAE: 0.3672
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1837 - accuracy: 0.7329 - MAE: 0.3659
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1834 - accuracy: 0.7329 - MAE: 0.3662
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1833 - accuracy: 0.7336 - MAE: 0.3656
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1834 - accuracy: 0.7338 - MAE: 0.3660
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1832 - accuracy: 0.7344 - MAE: 0.3661
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1832 - accuracy: 0.7331 - MAE: 0.3653
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1828 - accuracy: 0.7341 - MAE: 0.3646
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1829 - accuracy: 0.7350 - MAE: 0.3647
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1827 - accuracy: 0.7340 - MAE: 0.3647
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1829 - accuracy: 0.7341 - MAE: 0.3649
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1827 - accuracy: 0.7355 - MAE: 0.3644
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1826 - accuracy: 0.7352 - MAE: 0.3645
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1824 - accuracy: 0.7350 - MAE: 0.3636
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1825 - accuracy: 0.7346 - MAE: 0.3646
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1824 - accuracy: 0.7352 - MAE: 0.3637
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1825 - accuracy: 0.7346 - MAE: 0.3640
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1824 - accuracy: 0.7357 - MAE: 0.3639
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1821 - accuracy: 0.7354 - MAE: 0.3634
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1821 - accuracy: 0.7353 - MAE: 0.3632
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1821 - accuracy: 0.7363 - MAE: 0.3639
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1821 - accuracy: 0.7355 - MAE: 0.3631
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1821 - accuracy: 0.7355 - MAE: 0.3633
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1819 - accuracy: 0.7365 - MAE: 0.3634
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1818 - accuracy: 0.7365 - MAE: 0.3627
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1818 - accuracy: 0.7363 - MAE: 0.3631
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1819 - accuracy: 0.7356 - MAE: 0.3626
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1817 - accuracy: 0.7359 - MAE: 0.3627
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1815 - accuracy: 0.7371 - MAE: 0.3619
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1816 - accuracy: 0.7359 - MAE: 0.3629
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1816 - accuracy: 0.7369 - MAE: 0.3622
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1816 - accuracy: 0.7366 - MAE: 0.3623
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1816 - accuracy: 0.7365 - MAE: 0.3625
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1814 - accuracy: 0.7369 - MAE: 0.3619
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1814 - accuracy: 0.7371 - MAE: 0.3621
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1814 - accuracy: 0.7372 - MAE: 0.3615
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1816 - accuracy: 0.7369 - MAE: 0.3625
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1814 - accuracy: 0.7367 - MAE: 0.3619
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1812 - accuracy: 0.7369 - MAE: 0.3613
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1813 - accuracy: 0.7362 - MAE: 0.3623
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1812 - accuracy: 0.7373 - MAE: 0.3614
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1813 - accuracy: 0.7364 - MAE: 0.3614
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1810 - accuracy: 0.7372 - MAE: 0.3617
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1812 - accuracy: 0.7369 - MAE: 0.3616
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1812 - accuracy: 0.7375 - MAE: 0.3608
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1811 - accuracy: 0.7380 - MAE: 0.3618
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1811 - accuracy: 0.7370 - MAE: 0.3609
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1810 - accuracy: 0.7376 - MAE: 0.3613
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1810 - accuracy: 0.7370 - MAE: 0.3615
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1810 - accuracy: 0.7375 - MAE: 0.3613
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1810 - accuracy: 0.7374 - MAE: 0.3608
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1809 - accuracy: 0.7375 - MAE: 0.3611
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1809 - accuracy: 0.7378 - MAE: 0.3611
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1809 - accuracy: 0.7375 - MAE: 0.3608
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1810 - accuracy: 0.7376 - MAE: 0.3608
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1809 - accuracy: 0.7376 - MAE: 0.3608
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1808 - accuracy: 0.7379 - MAE: 0.3610
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1809 - accuracy: 0.7374 - MAE: 0.3610
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1809 - accuracy: 0.7381 - MAE: 0.3614
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1808 - accuracy: 0.7384 - MAE: 0.3606
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1808 - accuracy: 0.7380 - MAE: 0.3609
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1807 - accuracy: 0.7377 - MAE: 0.3606
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1807 - accuracy: 0.7379 - MAE: 0.3610
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1808 - accuracy: 0.7379 - MAE: 0.3606
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1805 - accuracy: 0.7375 - MAE: 0.3605
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1807 - accuracy: 0.7372 - MAE: 0.3605
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1806 - accuracy: 0.7381 - MAE: 0.3609
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1805 - accuracy: 0.7378 - MAE: 0.3604
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1807 - accuracy: 0.7376 - MAE: 0.3604
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1806 - accuracy: 0.7384 - MAE: 0.3604
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1804 - accuracy: 0.7382 - MAE: 0.3602
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1804 - accuracy: 0.7381 - MAE: 0.3609
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1806 - accuracy: 0.7381 - MAE: 0.3599
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1806 - accuracy: 0.7383 - MAE: 0.3605
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1804 - accuracy: 0.7387 - MAE: 0.3598
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1804 - accuracy: 0.7378 - MAE: 0.3604
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1804 - accuracy: 0.7382 - MAE: 0.3599
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1804 - accuracy: 0.7387 - MAE: 0.3604
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1804 - accuracy: 0.7380 - MAE: 0.3602
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1805 - accuracy: 0.7378 - MAE: 0.3600
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1805 - accuracy: 0.7388 - MAE: 0.3607
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1804 - accuracy: 0.7374 - MAE: 0.3597
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1803 - accuracy: 0.7375 - MAE: 0.3598
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1803 - accuracy: 0.7381 - MAE: 0.3603
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1804 - accuracy: 0.7383 - MAE: 0.3600
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1804 - accuracy: 0.7376 - MAE: 0.3603

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy, model_mae = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}, MAE: {model_mae}")

268/268 - 0s - loss: 0.1827 - accuracy: 0.7354 - MAE: 0.3602 - 404ms/epoch - 2ms/step
Loss: 0.18268586695194244, Accuracy: 0.7353935837745667, MAE: 0.3602302074432373

In [ ]:
# Export our model to HDF5 file
nn.save('final_model.h5')